<div class="topnav" id="mainMenu">
  <div class="home"><a routerLink="/" (click)="CloseMenu()" routerLinkActive="active" ariaCurrentWhenActive="page">Ax</a></div>
  <div [ngClass]="{'dropdown': _isLoggedIn, 'dropdown-hidden': !_isLoggedIn}" (mouseleave)="CloseSubMenu('profileDropdown')">
    <div class="dropIcon" style="float: left;">icon</div>
    <button class="dropbtn" (click)="ToggleSubMenu('profileDropdown')">{{_screenName}}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="profileDropdown">
      <a href="#"><a routerLink="/profile" (click)="CloseMenu('profileDropdown')" routerLinkActive="active" ariaCurrentWhenActive="page">Settings</a></a>
      <a href="#"><a routerLink="/logout" (click)="LogOut()" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a></a>
    </div>
  </div>
  <div [ngClass]="{'item': _isLoggedIn, 'item-hidden': !_isLoggedIn}"><a routerLink="/search" (click)="CloseMenu()" routerLinkActive="active" ariaCurrentWhenActive="page">Search</a></div>
  <div [ngClass]="{'item': !_isLoggedIn, 'item-hidden': _isLoggedIn}"><a routerLink="/login" (click)="CloseMenu()" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></div>
  <div [ngClass]="{'item': !_isLoggedIn, 'item-hidden': _isLoggedIn}"><a routerLink="/create-account" (click)="CloseMenu()" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up</a></div>
  <a href="javascript:void(0);" class="icon" (click)="ToggleMenu()">&#9776;</a>
</div>