<header class="header">
    <!-- Logo -->
    <a href="#" class="logo">Ax</a>
    <!-- Hamburger icon -->
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
    <!-- Menu -->
    <nav class="nav">
        <ul class="menu">
            <li><a routerLink="/horses" routerLinkActive="active" ariaCurrentWhenActive="page">Horses</a></li>
            <li><a routerLink="/cattle" routerLinkActive="active" ariaCurrentWhenActive="page">Cattle</a></li>
            <li class="menu_divider"><span>|</span></li>
            <li [hidden]="_isLoggedIn"><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
            <li [hidden]="!_isLoggedIn"><a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a></li>
            <li [hidden]="!_isLoggedIn"><button (click)="LogOut()">Logout</button></li>
            
        </ul>
    </nav>
</header>
