.reset-password-page {
    display: inline-flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    justify-content: center;
    padding: 80px 100px 80px 100px;
}
.reset-password-box {
    border: 1px solid;
    border-radius: 4px;
    margin: 0px;
    padding: 20px 20px 10px 20px;
    background-color: white;
    width: 40%;
    min-width: 300px;
    max-width: 400px;
}
.reset-password-header {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-size: 18pt;
    color: var(--black);
}