<div class="reset-password-page">
    <div class="reset-password-box" style="position:relative;" [hidden]="!_showResetForm">
        <app-loader [show]=_showLoadingOverlay></app-loader>
        <div class="reset-password-header">Reset Password</div>
        <form [formGroup]="_resetPasswordForm" (ngSubmit)="SubmitResetPassword()">
            <div class="input-container">
                <div class="input-label-container">
                    <div class="input-label">Password</div>
                </div>
                <input id="password" type="password" class="input-field" formControlName="password">
                <div class="input-error" [hidden]="!_showPasswordError">{{_passwordErrorText}}
                    <div class="tooltip">
                        <span class="tooltiptext">Passwords must be at least 8 characters long and consist of at least:
                            <ul>
                                <li>one uppercase character</li>
                                <li>one lowercase character</li>
                                <li>one special character</li>
                                <li>one number</li>
                            </ul>
                        </span>
                    </div>
                </div> 
            </div>
            <div class="input-container">
                <div class="input-label-container">
                    <div class="input-label">Verify Password</div>
                </div>
                <input id="verifyPassword" type="password" class="input-field" formControlName="verifyPassword">
                <div class="input-error" [hidden]="!_showVerifyPasswordError">{{_verifyPasswordErrorText}}</div> 
            </div>
            <button class="account-button" type="submit">Submit</button>
        </form>
    </div>
    <div class="reset-password-box" [hidden]="!_SuccessMessageBox">
        <div class="reset-password-header">Password Reset</div>
        <div>Your password has been reset.</div>
    </div>
</div>