<div class="forgot-password-page">
    <div class="forgot-password-box" [hidden]="!_showResetForm">
        <app-loader [show]=_showLoadingOverlay></app-loader>
        <div class="forgot-password-header">Reset Password</div>
        <form [formGroup]="_forgotPasswordForm" (ngSubmit)="SubmitPasswordReset()">
            <div class="input-container">
                <div class="input-label-container">
                    <div class="input-label">Email Address</div>
                </div>
                <input id="userID" type="text" [ngClass]="{'input-field': true, 'input-field-disabled': _disableUserID}" formControlName="userID" email="true">
                <div class="input-error" [hidden]="!_showEmailError">{{_emailErrorText}}</div> 
            </div>
            <button class="account-button" type="submit">Reset Password</button>
        </form>
    </div>
    <div class="forgot-password-box" [hidden]="!_SuccessMessageBox">
        <div class="forgot-password-header">Email Sent</div>
        <div>Check you inbox for password reset instructions.</div>
    </div>
</div>