<div class="login-page">
    
    <div class="login-box">
        <div class="login-header">Log On</div>
        <form [formGroup]="_loginForm" (ngSubmit)="SubmitLogon()">
            <div class="login-id-container">
                <div class="login-id-label-container">
                    <div class="login-id-label">Email Address</div><div class="loading" [hidden]="!_showEmailLoader"><img src="/assets/loading.gif"></div>
                </div>
                <input id="userID" type="text" class="login-input-field" formControlName="userID" email="true">
                <div class="login-error" [hidden]="!_showEmailError">Email address is not valid.</div> 
            </div>
            <div class="login-password-container" [hidden]="!_showPassword">
                <div class="login-password-label-container">
                    <div class="login-password-label">Password</div><div class="loading" [hidden]="!_showPasswordLoader"><img src="/assets/loading.gif"></div>
                </div>
                <input id="password" type="text" class="login-input-field" formControlName="password">
            </div>
            <button class="login-button" type="submit">{{_loginButtonText}}</button>
        </form>
        <div class="login-footer"><a routerLink="/forgot-password" routerLinkActive="active" ariaCurrentWhenActive="page">I forgot my password</a></div>
        <div class="login-register">Not a user? <a routerLink="/create-account" routerLinkActive="active" ariaCurrentWhenActive="page">Register.</a></div>
    </div>
</div>