.login-page {
    display: inline-flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    justify-content: center;
    padding: 80px 100px 80px 100px;
}
.signup-box {
    justify-content: center;
    align-content: center;
}
.signup-text {
    margin: 0px;
    padding: 20px;
}
.signup-button {
    width: 150px;
}
.new-account-box {
    border: 1px solid;
    border-radius: 4px;
    margin: -10px 0px 10px 0px;
    padding: 10px;
    background-color: var(--cornSilk);
    font-size: 10pt;
}
.login-box {
    border: 1px solid;
    border-radius: 2px;
    margin: 0px;
    padding: 20px 20px 10px 20px;
    background-color: white;
    width: 40%;
    min-width: 300px;
    max-width: 400px;
}
.login-text {
    float: left;
    border: 1px solid;
    border-radius: 2px;
    margin: 60px;
    padding: 20px;
}
.login-header {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-size: 18pt;
    color: var(--black);
}
.login-footer {
    width: 100%;
    text-align: center;
    font-size: 10pt;
    font-style: italic;
}
.login-register {
    width: 100%;
    text-align: right;
    padding-top: 15px;
    font-size: 10pt;
    font-style: italic;
}
.loading {
  width: 15px;
  height: 15px;
}
.loading img {
    width: 15px;
    height: 15px;
}
.registration-box {
    border: 1px solid;
    border-radius: 2px;
    margin: 0px;
    padding: 20px 20px 10px 20px;
    background-color: white;
    width: 40%;
    min-width: 300px;
    max-width: 400px;
}

