<div class="create-account-page">
    <div class="create-account-box" style="position:relative;">
        <app-loader [show]=_showLoadingOverlay></app-loader>
        <div class="create-account-header">Register Account</div>
        <form [formGroup]="_createAccountForm" (ngSubmit)="SubmitRegistration()">
            <div [ngClass]="{'account-input-container': true, 'account-input-container-disabled': _disableUserInputs}">
                <div class="account-input-label-container">
                    <div class="account-input-label">Email Address</div>
                </div>
                <input id="userID" type="text" [ngClass]="{'account-input-field': true, 'account-input-field-disabled': _disableUserInputs}" formControlName="userID" email="true">
                <div class="account-error" [hidden]="!_showEmailError">{{_emailErrorText}}</div> 
            </div>
            <div [ngClass]="{'account-input-container': true, 'account-input-container-disabled': _disableUserInputs}">
                <div class="account-input-label-container">
                    <div class="account-input-label">Screen Name</div>
                </div>
                <input id="screenName" type="text" [ngClass]="{'account-input-field': true, 'account-input-field-disabled': _disableUserInputs}" formControlName="screenName">
                <div class="account-error" [hidden]="!_showScreenNameError">{{_screenNameErrorText}}</div> 
            </div>
            <div class="account-input-container" [hidden]="!_showPassword">
                <div class="account-input-label-container">
                    <div class="account-input-label">Password</div>
                </div>
                <input id="password" type="password" class="account-input-field" formControlName="password">
                <div class="account-error" [hidden]="!_showPasswordError">{{_passwordErrorText}}</div> 
            </div>

            <div class="account-input-container" [hidden]="!_showPassword">
                <div class="account-input-label-container">
                    <div class="account-input-label">Verify Password</div>
                </div>
                <input id="verifyPassword" type="password" class="account-input-field" formControlName="verifyPassword">
                <div class="account-error" [hidden]="!_showVerifyPasswordError">{{_verifyPasswordErrorText}}</div> 
            </div>
            <button class="account-button" type="submit">{{_loginButtonText}}</button>
        </form>
        <div class="create-account-footer"><a href="/create-account/#" (click)="ResetForm()">Reset form</a></div>
    </div>
</div>