
/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

/* variables*/
:root{
    --white: #F9F9F9;
    --black: #36383F;
    --offBlack: #484848;
    --gray: #85888C;
    --midnightBlue: #191970;
    --cornSilk: #FFF8DC;
    --whiteSmoke: #F0F0F0;
    --whisper: #E8E8E8;
    --safetyOrange: #FA6400;
    --pumpkin: #FB8332;
    --burntOrange: #C85000;
    --gamboge: #E49B0F;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.input-container {
    border: 1px solid;
    border-radius: 4px;
    margin: 3px 0px 3px 0px;
    padding: 0px;
}
.input-container-disabled {
    background-color: var(--cornSilk);
}
.input-label-container {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: var(--whiteSmoke);
    border-radius: 4px;
    font-size: 12pt;
    padding: 5px;
    font-weight: 400;
    border-bottom: 1px solid var(--whisper);
    color: var(--black);
}
.input-label {
    width: 100%;
}
.input-field {
    border: none;
    width: 100%;
    line-height: 18pt;
    font-size: 13pt;
    color: var(--midnightBlue);
    padding: 5px;
    border-radius: 4px;
}
.input-field-disabled {
    background-color: var(--cornSilk);
}
.input-error {
    color: red;
    font-style: italic;
    font-size: 10pt;
    background-color: var(--whiteSmoke);
    border-radius: 4px;
    padding: 5px;
    border-top: 1px solid var(--whisper);
}
.account-button {
    width: 100%;
}
.account-button {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--safetyOrange);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 20px 0px 20px 0px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
}
.account-button:hover,
.account-button:focus {
  background-color: var(--pumpkin);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.account-button:hover {
    transform: translateY(-1px);
}
.account-button:active {
    background-color: var(--burntOrange);
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip:after{
    content: "?";
    display: block;
    background: var(--gamboge);
    color: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    line-height: 12px;
    text-align: center;
    font-size: 10px;
    font-family: Verdana;
  }
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: var(--cornSilk);
    color: var(--black);
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--black);
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  .tooltiptext ul {
    list-style: circle;
    display: list-item;
    margin: 20px;
  }
  .tooltiptext ul li {
    display: list-item;
  }
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }